# Database Admin 101 - Lab

## Introduction 

In this lab you'll go through the process of designing and creating a database. From there, you'll also begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Create a SQL database
* Create a SQL table
* Create rows in a SQL table
* Alter entries in a SQL table
* Delete entries in a SQL table
* Commit changes via sqlite3

## The Scenario

You are looking to design a database for a school which will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database and record some of your ideas below.

# Your Answer Here

Record some information here about how you would design such a database. What table would you include? What columns would each table have? What would be the primary means to join said tables?

In [1]:
"""
Potential tables might be:

 - Student info table (name, contact information)
 - Classes (class subject, time, teacher etc..)
 - Grades, with a foreign key on student info table and 
 class. A row for each grade a student receives in each class
 - Attendance, with attendance total for each date and
 a foreign key to the Classes table.
 
"""

'\nPotential tables might be:\n\n - Student info table (name, contact information)\n - Classes (class subject, time, teacher etc..)\n - Grades, with a foreign key on student info table and \n class. A row for each grade a student receives in each class\n - Attendance, with attendance total for each date and\n a foreign key to the Classes table.\n \n'

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [2]:
import sqlite3
conn = sqlite3.connect("school.sqlite")
cursor = conn.cursor()

In [18]:
cursor.execute("DROP TABLE contactInfo")

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), email, telephone number, street, city, state and zipcode. Be sure to also create a primary key for the table.

In [19]:
sql = """
CREATE TABLE `contactInfo`
(
id INTEGER PRIMARY_KEY AUTO_INCREMENT,
first_name TEXT,
last_name TEXT,
role TEXT,
email TEXT,
telephone TEXT,
street TEXT,
city TEXT,
state TEXT,
zipcode INTEGER
)

"""

cursor.execute(sql)

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [20]:
# Code to load the list of dictionaries; just run this cell

contacts = [{
"first_name": "Joe",
"last_name": "Smith",
"role": "student",
"email": "joe@email.com",
"telephone": "202-202-2022",
"street": "212 13th street",
"city": "Washington",
"state": "DC",
"zipcode": "20002"
}, {
"first_name": "Teacher",
"last_name": "Smith",
"role": "staff",
"email": "teach@email.com",
"telephone": "102-202-2022",
"street": "212 13th street",
"city": "Washington",
"state": "DC",
"zipcode": "20002"
}]

In [21]:
# Your code to iterate over the contact list and populate the contactInfo table here

for contact in contacts:
    sql = "INSERT INTO contactInfo ('%s') VALUES ('%s')" % ("','".join(contact.keys()), "','".join(contact.values()))
    print(sql)
    cursor.execute(sql)

INSERT INTO contactInfo ('first_name','last_name','role','email','telephone','street','city','state','zipcode') VALUES ('Joe','Smith','student','joe@email.com','202-202-2022','212 13th street','Washington','DC','20002')
INSERT INTO contactInfo ('first_name','last_name','role','email','telephone','street','city','state','zipcode') VALUES ('Teacher','Smith','staff','teach@email.com','102-202-2022','212 13th street','Washington','DC','20002')

In [22]:
# Query the Table to Ensure it is populated
vals = cursor.execute("""SELECT * FROM contactInfo""")

In [23]:
#Your code here
vals.fetchall()

[(None,
  'Joe',
  'Smith',
  'student',
  'joe@email.com',
  '202-202-2022',
  '212 13th street',
  'Washington',
  'DC',
  20002),
 (None,
  'Teacher',
  'Smith',
  'staff',
  'teach@email.com',
  '102-202-2022',
  '212 13th street',
  'Washington',
  'DC',
  20002)]

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [17]:
cursor.commit()

AttributeError: 'sqlite3.Cursor' object has no attribute 'commit'

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [25]:
sql = """CREATE TABLE grades(
   id INTEGER PRIMARY_KEY AUTO_INCREMENT,
   studentId INTEGER NOT NULL,
   courseId INTEGER NOT NULL,
   grade INTEGER NOT NULL,
   PRIMARY KEY(id)
   )
"""
cursor.execute(sql)

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [ ]:
sql = """
SELECT *, count(*) as ct FROM contactInfo
group by email

"""

In [ ]:
#Your code here; delete the duplicate entry

In [ ]:
#Your code here; check that the duplicate entry was removed.

## Updating an Address

Ed Lyman just moved to 2910 Simpson Avenue York, PA 17403. Update his address accordingly.

In [ ]:
#Your code here; update Ed's address

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [ ]:
#Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you certainly got a taste for creating, populating and maintaining databases! Feel free to continue fleshing out this exercise to continue practicing.